.footer-container{
    padding-block: 2rem ;
    color: var(--white);
    background-color: var(--very-dark-violet);
    .title-address{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 583px){
            flex-direction: column;
            text-align: left;
        }
    }
    .footer-title{
        font-size: 2rem;
        max-width: 400px;
        line-height: 1.4;
        width: 100%;
        @media (max-width: 837px){
            font-size: 1.7rem;
        }
        @media (max-width: 620px){
            font-size: 1.4rem;
        }
    }
    .address{
        @media (max-width: 584px){
            display: none;
        }
    }
    .address p{
        padding: 0.1rem 0;
        @media (max-width: 764px){
            font-size: 0.9rem;
        }
    }
    .address a{
        text-decoration: underline;
        color: var(--white);
    }
    .footer-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 800px){
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            text-align: left;
           
        }
        @media (max-width: 672px){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
        }

        @media (max-width: 552px){
            justify-content: space-evenly;;
        }
        
    }
}

