.offer-message{
    font-size: 2.2rem;
    width: 100%;
    max-width: 1300px;
    line-height: 1.3;
    @media (max-width: 800px){

    }
}

.offer-tracks{
    display: flex;
    justify-content: space-between;
}