h1,
h2,
h3,
h4,
h5,
h6,
li{
  font-family: "Inter", serif;
  line-height: 1;
  font-weight: var(--fw-700);
}

h1{
  font-size: 3rem;
  @media (max-width: 767px) {
    font-size: 2rem;
  }
}
h3{
  font-size: 1.2rem;
  font-family: "Inter-light";
  position: relative;
  &::before{
    content: ' ';
    position: absolute;
    width: 2rem;
    top: -2px;
    height: 3px;
    background-color: var(--primary-violet);
  }
}

.title1--mod {
  &::before {
    content: "";
    background-color: var(--dark-violet);
    opacity: 0.6;
  }
}

p {
  padding: 1rem 0;
  font-weight: var(--fw-400);
  line-height: 1.5;
  font-family: "Inter-light";
}