:root {
    --dark-violet: #70259B;
    --primary-violet: hsl(216, 30%, 68%);
    --very-dark-violet: #430964;
    --dark-grey-violet: hsl(273, 4%, 51%);
    --light-grey: hsl(0, 0%, 98%);
    --white: #fff;
    --fw-700: 700;
    --fw-400: 400;
}